/* global defaults are internal to the html doc. override here */

@font-face {
	font-family: IBMPlexSerif;
	src: url("resource/IBMPlexSerif-Text.ttf");
}
@font-face {
	font-family: IBMPlexSerifBold;
	src: url("resource/IBMPlexSerif-Bold.ttf");
}
@font-face {
	font-family: IBMPlexMono;
	src: url("resource/IBMPlexMono-Regular.ttf");
}

a[href] {
    color: black;
}

a[href]:visited {
    color: gainsboro;
}

header ~ p {
    margin-left: 1px;
}

header {
    margin: 0em 0em 0em .1em;
    width: 600px;
    height: 130px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgba(220,220,220,100);
    
}

#friend {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

#friend:hover{
    bottom: 60px;
}

#navbar {
    position: static;
}

#prompt {
    display: inline;
}

h1, h2, h3 {
    font-family: IBMPlexSerifBold;
}
    

h1 {
    padding-left: 4px;
    background-color: hsla(0,0%,86.3%,100%);
    color: black;
}

h2 {
    padding-left: 4px;
    background-color: rgb(220,220,220);
    color: black;
}

main {
    margin-left: .1em;
}

h3 {
    width: 200px;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .1em;
    margin-right: 0em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: hsl(0,0%,86.3%);
    color: black;
    text-align: left;
}


ul > li { 
    padding: 0px 0px 0px 4px;
}

ol li { 
    padding: 0px 0px 0px 4px;
}

.quote {
    margin-left: 4em;
}

#quoteauthor {
    margin-left: 5.5em;
}

code {
    font-family: IBMPlexMono;
}

figure {
    margin-left: .1em;
}

* + figcaption {
    color: gainsboro;
}

#monke {
    max-width: 480px;
}

em.sarcasm {
    color: gainsboro;
    text-decoration: underline;
}

iframe {
    min-height: 480px;
    min-width: 640px;
}

#monkefig {
    grid-area: topleft;
}

#compsci {
    grid-area: topright;
}

#frame {
    grid-area: botleft;
}

#pic {
    grid-area: botright;
}

@media screen and (max-width: 1200px) {
    #pic {
	width: 240px;
    }
}

#grid {
    display: grid;
    grid-template-columns: 660px 620px;
    grid-template-rows: 520px 520px;
    grid-template-areas:
	"topleft topright"
	"botleft botright";
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
}

#latin {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

button:active {
    background-color: gainsboro;
}

canvas {
    border-style: solid;
    border-radius: 0px 100px / 120px;
    background-color: #dcd;
    display: block;
}

b {
    font-family: IBMPlexSerifBold;
}


